body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../image/fundo_formulario.png);
    background-position:  center;
    background-repeat: no-repeat;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
}
.centro{
    background-color: rgb(0,0,0, 0.4);
    border-radius: 20px;
    border: 2px rgba(255, 255, 255, 0.1) solid ;
    margin: 20px;
    padding: 40%;
}
h1{
    font-size: 64px;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
input{
    margin-top: 30px;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    padding: 0px 20px;
}

input.submit{
    cursor: pointer;
    background-color: lightgray;
    transition: all 0.3s;
}
input.submit:hover{
    background-color: gray;
}
input.submit:active{
    background-color: rgb(60, 82, 107);
}